<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MobiLeLeLe</title>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'
         th:action="@{/brands/all}"
         th:object="${brandModel}">
        <div class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="${brandModel.name}">Brand name</span>
            </h2>
            <div th:each="model : ${brandModel.getModels()}"
            >Models:
                <table>
                    <tr>
                        <th  th:text="${model.id}">No</th>
                        <th  th:text="${model.name}">Name</th>
                        <th  th:text="${model.category}">Category</th>
                        <th  th:text="${model.startYear}">Start Year</th>
                        <th  th:text="${model.endYear}">End Year</th>
                        <th  th:text="${model.imageUrl}">Picture</th>
                    </tr>
                    <tr>
                        <th>No</th>
                        <th>Model Name</th>
                        <th>Model Category</th>
                        <th>Model Start Year</th>
                        <th>Model End Year</th>
                        <th><img alt="image" src="/"
                                 class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
