<!DOCTYPE html>
<html lang="en">

<head>
    <title>MobiLeLeLe</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">
        Welcome,
        <span th:if="${@currentUser.isLoggedIn()}"
              th:text="${@currentUser.getName()}"!>
        </span>
        <span th:if="${@currentUser.isAnonymous()}">
              Guest!
        </span>
    </h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
